*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/*styling the nav bar*/
header{
  height: 100px;
  width: 100%;
  margin-top: -100px;
  position: fixed;
  background-color: #ffffff;
}

nav{
  height: 100%;
  width: 100%;
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav{
  display: flex;
  align-items: center;
}

.logo-name >h2{
  text-transform: uppercase;
  color: #1D4025;
}

.nav-options{
  list-style-type: none;
  display: flex;
}

.nav-options >li{
  margin-right: 50px;
  color: #1D4025;
  text-transform: uppercase;
  font-size: 18px;
}
.nav-options >li:hover{
  opacity: 0.5;
  cursor: pointer;
}

.service{
  font-weight: bold;
}
.login,.signup{
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 10px;
}
.login{
  border: 1px solid #1D4025;
  background-color: #ffffff;
  color: #1D4025;
  margin-right: 10px;
}
.signup{
  background-color: #1D4025;
  color: #ffffff;
  border: none;
}
.right-nav{
  align-items: center;
}
#menu,
#close{
  align-items: center;
  display: none;
}

/*styling the top-main*/
.top-main{
  background-image: url(../images/image\ 32.png);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: cover;
  margin-top: 100px;
}



/*styling the footer div*/
.footer-div{
  background-color: #1D4025;
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-p{
  color: #ffffff;
  font-size: 20px;
}
.footer-logo{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-logo >img{
  height: 32px;
  width: 32px;
  margin-right: 8px;
}
.footer-logo >h2{
  color: #ffffff;
  text-transform: uppercase;
}
.social-media >img{
  margin-right:18px;
}
.about-link,
.service-link{
  text-decoration: none;
  color: #1D4025;
}

.p-cont{
  padding: 50px 100px 50px 100px;
}
.content-p{
  font-size: 20px;
  color: #767A77;
}
.separate{
  display: none;
}


@media only screen and (max-width:1024px) and (min-width:769px) {
  nav{
    padding: 60px;
  }
  .nav-options >li{
    margin-right: 30px;
  }
  .nav-options{
    display: block;
  }
  .nav-options >li{
    margin-bottom: 30px;
  }
  .separate{
    display: block;
  } 
  .separate >a{
    text-decoration: none;
    color: #1D4025;
  }
  .middle-nav{
    width: 90%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: 110%;
    padding-left: 40px;
    padding-top: 30px;
    margin: auto;
    display: none;
  }
  .p-cont{
    padding: 60px;
  }
  .footer-div{
    gap: 60px;
  }
  .right-nav{
    display: none;
  }
  #menu{
    display: block;
  }
  
}

@media only screen and (max-width:768px) and (min-width:600px) {
  nav{
    padding: 40px;
  }
  .nav-options >li{
    margin-right: 30px;
  }
  .nav-options{
    display: block;
  }
  .nav-options >li{
    margin-bottom: 20px;
  }
  .separate{
    display: block;
  } 
  .separate >a{
    text-decoration: none;
    color: #1D4025;
  }
  .middle-nav{
    width: 90%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: 110%;
    padding-left: 40px;
    padding-top: 30px;
    margin: auto;
    display: none;

  }
  .p-cont{
    padding:40px;
  }
  .footer-div{
    gap: 40px;
  }
  .right-nav{
    display: none;
  }
  .home >a{
    text-decoration: none;
    color: #1D4025;
  }
  .service >a{
    text-decoration: none;
    color: #1D4025;
  }
  .separate{
    display: block;
  }
  #menu{
    display: block;
  }
  
}

@media only screen and (max-width: 600px){

  body{
    object-fit: fill;
  }

  nav{
    padding: 20px;
  }
  .middle-nav{
    width: 90%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: 110%;
    padding-left: 40px;
    padding-top: 30px;
    margin: auto;
    display: none;
  }
  .nav-options{
    display: block;
  }
  .nav-options >li{
    margin-bottom: 15px;
  }
  .separate{
    display: block;
  } 
  .separate >a{
    text-decoration: none;
    color: #1D4025;
  }
  .top-main{
    background-image: url(../images/image\ 32.png);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: cover;
    margin-top: 100px;
  } 
  .p-cont{
    padding: 20px;
  }
  .footer-div{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .right-nav{
    display: none;
  }
  #menu{
    display: block;
  }
  
}